#container_context .row {
  margin-bottom: 1rem;
}
#container_context .row #table_content table thead tr th {
  text-align: center;
  padding: 1.2rem auto;
  font-size: 1.8rem;
  font-weight: normal;
}
