#section{
  @bg_color:#F0F8FF;
  @text-color:#329DFF;
  @msg_bg_color:#D9F4FE;
  background-color:@bg_color;
  padding-top:114px;
  .container{
    width: 100%;
    .row{
      padding: 3rem;
      .col-xs-8{
        .thumbnail{
          box-shadow: 5px 5px 5px #ddd;
          padding: 2rem;
          text-align:center;
          #video{
            width: 100%;
            height: 580px;
            background-color: #000;
          }
          .caption{
            font-size:24px;
            h3{
              text-align: left;
              color:@text-color;
            }
            .row{
              text-align: left;
              padding: 0;
              margin: 0;
              font-size: 20px;
              .col-xs-3{
                padding: 0;
                ul{
                  li{
                    b{
                      font-weight: normal;
                    }
                    span{
                      color:#999;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .col-xs-4{
        .panel{
          box-shadow: 5px 5px 5px #ddd;
          .panel-heading{
            color:@text-color;
            background-color: #fff;
          }
          .panel-body{
            height: 540px;
            span{
              display: block;
              float: right;
              font-size: 20px;
              background-color: #ddd;
              padding: 5px;
            }
          }
          .panel-footer{
            padding: 0;
            background-color: #fff;
            textarea{
              border:none;
            }
          }
        }
      }
    }
  }
}