#section {
  background-color: #F0F8FF;
  padding-top: 114px;
}
#section .container {
  width: 100%;
}
#section .container .row {
  padding: 3rem;
}
#section .container .row .col-xs-8 .thumbnail {
  box-shadow: 5px 5px 5px #ddd;
  padding: 2rem;
  text-align: center;
}
#section .container .row .col-xs-8 .thumbnail #video {
  width: 100%;
  height: 550px;
  background-color: #000;
}
#section .container .row .col-xs-8 .thumbnail .caption {
  font-size: 24px;
}
#section .container .row .col-xs-8 .thumbnail .caption h3 {
  text-align: left;
  color: #329DFF;
}
#section .container .row .col-xs-8 .thumbnail .caption .row {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 20px;
}
#section .container .row .col-xs-8 .thumbnail .caption .row .col-xs-3 {
  padding: 0;
}
#section .container .row .col-xs-8 .thumbnail .caption .row .col-xs-3 ul li b {
  font-weight: normal;
}
#section .container .row .col-xs-8 .thumbnail .caption .row .col-xs-3 ul li span {
  color: #999;
}
#section .container .row .col-xs-4 .panel {
  box-shadow: 5px 5px 5px #ddd;
}
#section .container .row .col-xs-4 .panel .panel-heading {
  color: #329DFF;
  background-color: #fff;
}
#section .container .row .col-xs-4 .panel .panel-body {
  height: 540px;
}
#section .container .row .col-xs-4 .panel .panel-body span {
  display: block;
  float: right;
  font-size: 20px;
  background-color: #ddd;
  padding: 5px;
}
#section .container .row .col-xs-4 .panel .panel-footer {
  padding: 0;
  background-color: #fff;
}
#section .container .row .col-xs-4 .panel .panel-footer textarea {
  border: none;
}
